{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Products{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% if g.user %}
    <!-- Mostrar los datos seleccionados por el usuario -->
    {% if tornillos %}
      <h2>Tornillos</h2>
      <ul>
        {% for item in tornillos %}
          <li>{{ item['Producto'] }} - ${{ item['Precio'] }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if arte %}
      <h2>Arte</h2>
      <ul>
        {% for item in arte %}
          <li>{{ item['Titulo'] }} - ${{ item['Precio'] }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if esculturas %}
      <h2>Esculturas</h2>
      <ul>
        {% for item in esculturas %}
          <li>{{ item['Producto'] }} - ${{ item['Precio'] }}</li>
        {% endfor %}
      </ul>
    {% endif %}

  {% else %}
    <!-- Mostrar todos los datos si no ha iniciado sesión -->
    <h2>Tornillos</h2>
    <ul>
      {% for item in tornillos %}
        <li>{{ item['Producto'] }} - ${{ item['Precio'] }}</li>
      {% endfor %}
    </ul>

    <h2>Arte</h2>
    <ul>
      {% for item in arte %}
        <li>{{ item['Titulo'] }} - ${{ item['Precio'] }}</li>
      {% endfor %}
    </ul>

    <h2>Esculturas</h2>
    <ul>
      {% for item in esculturas %}
        <li>{{ item['Producto'] }} - ${{ item['Precio'] }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
