<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Web Scrapers</h1>
  <ul class="nav-links"> <!-- Clase específica para la navegación -->
    <li><a class="Accesos" href="https://eltornillo.com.mx/tienda-en-linea/tornillos.html" target="_blank">Tornillos</a></li>
    <li><a class="Accesos" href="https://www.todocuadros.com.mx/" target="_blank">Arte</a></li>
    <li><a class="Accesos" href="https://coleccionsergiobustamante.com.mx/en/collections/esculturas" target="_blank">Esculturas</a></li>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span></li>
      <li><a href="{{ url_for('auth.logout') }}">Cerrar Sesión</a></li>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Registro</a></li>
      <li><a href="{{ url_for('auth.login') }}">Iniciar Sesión</a></li>

    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
